<div class="container mt-5">
  <div class="row">
    <div class="col mt-5">
      <h1><%= @dessin.name  %></h1>
      <%= link_to "Edit", edit_dessin_path(@dessin) %>
      <p class="mt-4 well">Description: <%= @dessin.description  %></p>
      <%= link_to "Back", dessins_path(@dessin)  %>
      <%= link_to "Delete", dessin_path(@dessin),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
      <div class="mt-5">
        <div class="d-flex justify-content-end">
          <button class="btn btn-primary" >
            <%= link_to "Create new comment", new_dessin_review_path(@dessin), class:"text-white text-decoration-none" %>
          </button>
        </div>
          <p><strong>Reviews</strong></p>
          <ul class="list-group">
            <% @dessin.reviews.each do |review| %>
              <li class="list-group-item">
                <%= review.content %>
                <%= link_to "Delete", review_path(review), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"d-flex justify-content-end mt-2" %>
              </li>
            <% end %>
          </ul>
      </div>
    </div>
  </div>
</div>
